{% extends "base.html" %}

{% load static %}

{% block addons %}
    <link rel="stylesheet" href="{% static 'home/css/tilda-grid-3.0.min.css' %}" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="{% static 'home/css/tilda-blocks-page40837825.min.css' %}" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="{% static 'home/css/tilda-cover-1.0.min.css' %}" type="text/css" media="all" onerror="this.loaderr='y';"/>
{% endblock %}

{% block content %}
<div id="rec660360534" class="r t-rec" style=" " data-animationappear="off" data-record-type="167"><!-- cover -->
        <div class="t-cover"
             id="recorddiv660360534"
             bgimgfield="img"
             style="height:100vh; background-image:url('{% static 'home/images/tild3163-3764-4937-a239-343032626332__-__resize__20x__1670825509_3-27.jpg' %}');">
            <div class="t-cover__carrier" id="coverCarry660360534" data-content-cover-id="660360534"
                 data-content-cover-bg="{% static 'home/images/tild3163-3764-4937-a239-343032626332__1670825509_3-27.jpg' %}"
                 data-display-changed="true" data-content-cover-height="100vh" data-content-cover-parallax=""
                 style="height:100vh;background-attachment:scroll; " itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="{% static 'home/images/tild3163-3764-4937-a239-343032626332__1670825509_3-27.jpg' %}">
            </div>
            <div class="t-cover__filter"
                 style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -o-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));background-image: linear-gradient(top, rgba(0,0,0,0.50), rgba(0,0,0,0.50));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7f000000', endColorstr='#7f000000');"></div>
            <div class="t-container">
                <div class="t-col t-col_12">
                    <div class="t-cover__wrapper t-valign_middle" style="height:100vh;">
                        <div class="t153 t-align_center" data-hook-content="covercontent">
                            <div class="t153__uptitle t-uptitle t-uptitle_sm" style="" field="subtitle">SITIUM</div>
                            <div class="t153__title t-title t-title_xxs" style="" field="title">Сайт представляет собой
                                коллекцию исторических карт с детальным описанием, начиная от каменного века и до наших
                                дней, помогая посетителям лучше понять развитие человечества на протяжении тысячелетий.
                            </div>
                            <div class="t153__descr t153__descr_center t-descr t-descr_xs" style="" field="descr">
                                История является философией в примерах. Фукидид.
                            </div>
                            <span class="space"></span></div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}